{#
/**
 * @file
 * Layout for showing a message for the logged out users.
 *
 * Available variable:
 *   - message (string): The logout reason.
 */
#}
<div id="logged-out-message" class="alert alert-danger">
  <div class="">{{ message }}</div>
</div>
